/* This is basically index.css */

.p-inputgroup {
  display: flex;
  /* align-items: stretch; */
  width: 100%;
}

.p-inputgroup-addon:first-child,
.p-inputgroup button:first-child,
.p-inputgroup input:first-child,
.p-inputgroup > .p-inputwrapper:first-child,
.p-inputgroup > .p-inputwrapper:first-child > .p-inputtext {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.p-inputgroup-addon {
  background: #f3f4f6;
  color: #6b7280;
  border-top: 1px solid #d1d5db;
  border-left: 1px solid #d1d5db;
  border-bottom: 1px solid #d1d5db;
  padding: 0.75rem 0.75rem;
  min-width: 2rem;
}

.p-inputgroup-addon {
  display: flex;
  align-items: center;
  justify-content: center;
}

body[data-scroll-locked] {
  padding-top: 80px !important;
}

/* Leaflet overrides */

#search-page-map .leaflet-popup-content-wrapper {
  padding: 0;
}
#search-page-map .leaflet-popup-content {
  margin: 0;
}

/* media query for large screens  */
@media (min-width: 1024px) {
  .photoGridContainer div:nth-child(3),
  .photoGridContainer div:nth-child(8),
  .photoGridContainer div:nth-child(10),
  .photoGridContainer div:nth-child(12),
  .photoGridContainer div:nth-child(15),
  .photoGridContainer div:nth-child(20),
  .photoGridContainer div:nth-child(22),
  .photoGridContainer div:nth-child(24) {
    flex: 0 0 auto !important;
    width: 16.66667% !important;
  }

  .photoGridContainer div:nth-child(2),
  .photoGridContainer div:nth-child(4),
  .photoGridContainer div:nth-child(5),
  .photoGridContainer div:nth-child(7),
  .photoGridContainer div:nth-child(14),
  .photoGridContainer div:nth-child(16),
  .photoGridContainer div:nth-child(17),
  .photoGridContainer div:nth-child(19),
  .photoGridContainer
    div:nth-child(21)
    .photoGridContainer
    div:nth-child(23)
    .photoGridContainer
    div:nth-child(25) {
    flex: 0 0 auto !important;
    width: 25% !important;
  }

  .photoGridContainer div:nth-child(1),
  .photoGridContainer div:nth-child(6),
  .photoGridContainer div:nth-child(9),
  .photoGridContainer div:nth-child(11),
  .photoGridContainer div:nth-child(13),
  .photoGridContainer div:nth-child(18),
  .photoGridContainer
    div:nth-child(21)
    .photoGridContainer
    div:nth-child(23)
    .photoGridContainer
    div:nth-child(25) {
    flex: 0 0 auto !important;
    width: 33.3333333333% !important;
  }
}
.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive {
  /* display: none */
  border: none;
  background: transparent;
}
/* 
.custom-popup {
  z-index: 10000 !important;
} */

/* Ensure the popup tip is also visible */
/* .leaflet-popup-tip-container {
  z-index: 1000 !important;
} */

/* Shadcn Carousel */
.shadcn-carousel > div {
  @apply pb-5 pt-2;
}

/* Reveal Button */

button.reveal-button {
  display: grid;
  grid-template-areas: "stack";

  .revealed-text {
    visibility: hidden;
    grid-area: stack;
  }
  .text {
    grid-area: stack;
  }

  &.loading {
    .text {
      visibility: hidden;
    }
    .revealed-text {
      visibility: visible;
    }
  }
}

.leaflet-left.leaflet-left {
  left: unset;
  right: 2px;
}
.leaflet-top.leaflet-top {
  top: unset;
  bottom: 18px;
}
.leaflet-touch .leaflet-bar.leaflet-bar a {
  width: 20px;
  height: 20px;
  line-height: 12px;

  & span {
    font-size: 14px;
  }
}

/* Map Markers */

/* .icon-combo {
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
}
.icon-combo > *:first-child {
  position: absolute;
  z-index: 800;
  display: block;
}
.icon-combo:hover > *:first-child {
  position: absolute;
  display: block;
  z-index: 1000;
  } */

.icon-combo > *:first-child {
  position: relative;
}
.icon-combo > *:first-child:hover {
  z-index: 1010 !important;
}
.leaflet-marker-icon .icon-combo > *:first-child:hover ~ .leaflet-marker-icon,
.leaflet-marker-icon:has(.icon-combo > *:first-child:hover) {
  z-index: 7000 !important;
  /* background: dodgerblue !important; */
}
.leaflet-marker-icon .icon-combo > *:first-child:hover ~ .leaflet-marker-icon,
.icon-combo:has(> *:first-child:hover)::before {
  visibility: visible;
}
.leaflet-marker-icon .icon-combo.zoom-deep:hover {
  z-index: 7000 !important;
  background: dodgerblue !important;
}

.icon-combo.area-2::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 40px;
  height: 40px;
  background: rgb(147 197 253 / 0.32);
  left: -13px;
  top: -12px;
  border-radius: 100%;
  visibility: hidden;
}

.icon-combo.area-3::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 60px;
  height: 60px;
  background: rgb(147 197 253 / 0.32);
  left: -12px;
  top: -12px;
  border-radius: 100%;
  visibility: hidden;
}

.icon-combo.area-4::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 80px;
  height: 80px;
  background: rgb(147 197 253 / 0.32);
  left: -31px;
  top: -31px;
  border-radius: 100%;
  visibility: hidden;
}
/* 
.icon-combo.area-5::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 125px;
  height: 125px;
  background: rgb(147 197 253 / 0.32);
  left: -33px;
  top: -48px;
  border-radius: 100%;
  visibility: hidden;
} */

.icon-combo.area-5::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 125px;
  height: 125px;
  background: rgb(147 197 253 / 0.32);
  left: -33px;
  top: -48px;
  border-radius: 100%;
  visibility: hidden;
}

.icon-combo.area-5:hover ~ .icon-combo::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 40px;
  height: 40px;
  background: rgb(147 197 253 / 0.32);
  left: -13px;
  top: -12px;
  border-radius: 100%;
  visibility: visible; /* Make it visible when hovered */
}

.icon-combo.area-6::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 160px;
  height: 160px;
  background: rgb(147 197 253 / 0.32);
  left: -67px;
  top: -52px;
  border-radius: 100%;
  visibility: hidden;
}

.icon-combo.area-7::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 210px;
  height: 210px;
  background: rgb(147 197 253 / 0.32);
  left: -77px;
  top: -87px;
  border-radius: 100%;
  visibility: hidden;
}

.icon-combo.area-9::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 270px;
  height: 270px;
  background: rgb(147 197 253 / 0.32);
  left: -124px;
  top: -100px;
  border-radius: 100%;
  visibility: hidden;
}

.icon-combo.area-10::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 330px;
  height: 330px;
  background: rgb(147 197 253 / 0.32);
  left: -139px;
  top: -141px;
  border-radius: 100%;
  visibility: hidden;
}

.icon-combo.area-14::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 420px;
  height: 420px;
  background: rgb(147 197 253 / 0.32);
  left: -195px;
  top: -181px;
  border-radius: 100%;
  visibility: hidden;
}

.icon-combo.area-15::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 450px;
  height: 450px;
  background: rgb(147 197 253 / 0.32);
  left: -218px;
  top: -193px;
  border-radius: 100%;
  visibility: hidden;
}

.icon-combo.area-21::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 50 !important;
  pointer-events: none;
  width: 600px;
  height: 600px;
  border: 1px solid dodgerblue;
  background: rgb(147 197 253 / 0.32);
  left: -285px;
  top: -265px;
  border-radius: 100%;
  visibility: hidden;
}

/* Must use important to override the inline style z-index from leaflet */
.area-pin-icon {
  z-index: 50 !important;
}
.featured-pin {
  z-index: 300 !important;
}
