/* This is basically index.css */

.p-inputgroup {
  display: flex;
  /* align-items: stretch; */
  width: 100%;
}

.p-inputgroup-addon:first-child,
.p-inputgroup button:first-child,
.p-inputgroup input:first-child,
.p-inputgroup > .p-inputwrapper:first-child,
.p-inputgroup > .p-inputwrapper:first-child > .p-inputtext {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.p-inputgroup-addon {
  background: #f3f4f6;
  color: #6b7280;
  border-top: 1px solid #d1d5db;
  border-left: 1px solid #d1d5db;
  border-bottom: 1px solid #d1d5db;
  padding: 0.75rem 0.75rem;
  min-width: 2rem;
}

.p-inputgroup-addon {
  display: flex;
  align-items: center;
  justify-content: center;
}

body[data-scroll-locked] {
  padding-top: 80px !important;
}

/* Leaflet overrides */

#search-page-map .leaflet-popup-content-wrapper {
  padding: 0;
}
#search-page-map .leaflet-popup-content {
  margin: 0;
}

/* media query for large screens  */
@media (min-width: 1024px) {
  .photoGridContainer div:nth-child(3),
  .photoGridContainer div:nth-child(8),
  .photoGridContainer div:nth-child(10),
  .photoGridContainer div:nth-child(12),
  .photoGridContainer div:nth-child(15),
  .photoGridContainer div:nth-child(20),
  .photoGridContainer div:nth-child(22),
  .photoGridContainer div:nth-child(24) {
    flex: 0 0 auto !important;
    width: 16.66667% !important;
  }

  .photoGridContainer div:nth-child(2),
  .photoGridContainer div:nth-child(4),
  .photoGridContainer div:nth-child(5),
  .photoGridContainer div:nth-child(7),
  .photoGridContainer div:nth-child(14),
  .photoGridContainer div:nth-child(16),
  .photoGridContainer div:nth-child(17),
  .photoGridContainer div:nth-child(19),
  .photoGridContainer
    div:nth-child(21)
    .photoGridContainer
    div:nth-child(23)
    .photoGridContainer
    div:nth-child(25) {
    flex: 0 0 auto !important;
    width: 25% !important;
  }

  .photoGridContainer div:nth-child(1),
  .photoGridContainer div:nth-child(6),
  .photoGridContainer div:nth-child(9),
  .photoGridContainer div:nth-child(11),
  .photoGridContainer div:nth-child(13),
  .photoGridContainer div:nth-child(18),
  .photoGridContainer
    div:nth-child(21)
    .photoGridContainer
    div:nth-child(23)
    .photoGridContainer
    div:nth-child(25) {
    flex: 0 0 auto !important;
    width: 33.3333333333% !important;
  }
}
.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive {
  /* display: none */
  border: none;
  background: transparent;
}
